@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

// Media queries
$xl = 1439px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$darkgrey ?= rgba(0,0,0,0.87)
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$padding = 10px

// CSS Reset
global-reset()

webfont('NHUL', 'NHUL', true, 'normal')

body,html
	width 100%
	min-height 100vh
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size 62.5%
	+below($md)
		font-size 40%

body
	text-rendering optimizeLegibility
	font-smoothing()
	font-family 'NHUL', 'Helvetica', 'Arial', sans-serif
	font-size 1.7rem

p
	margin-bottom 1em
	line-height 130%
	color $darkgrey

p:last-child
	margin-bottom 0

::selection
	background #efefef
	
::-moz-selection
	background #efefef

::-webkit-scrollbar
	width 0px
	background transparent

*
	box-sizing(border-box)

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.menu-item, h1, h2
	font-size 2.5rem
	letter-spacing -.03em

img
	display block

img.lazyimg
	transition(opacity)
	opacity 0

img.lazyimg.lazyloaded
	opacity 1

.diff, .menu-item
	+above($md + 1)
		color $primary
		mix-blend-mode difference

.loader
	hideselect()
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	background-size 15px
	z-index 10000

header
	hideselect()
	position fixed
	z-index 10000
	top ($padding*3)
	width 100%
	text-align center
	mix-blend-mode difference
	pointer-events none
	#site-title, a
		display inline-block
		pointer-events auto
	#site-title
		margin-top 0.2rem
	div
		transition(all, 1.5s, ease)
		display inline-block
		height 3.5rem
		overflow hidden
		img
			height 100%
			width auto
	div:first-child
		width 14rem
	div:last-child
		width 25rem

header.reduced
	div
		width 3.4rem
	div:last-child
		margin-left -.7rem
	#site-title:hover
		transition(all, 1s, ease)
		transform-origin 50% 47%
		transform(rotate(180deg))

.menu-item
	hideselect()
	position fixed
	z-index 1000
	span.menu-toggle
		cursor pointer
	ul.submenu
		margin-left .5em
		li
			transition(height, 800ms)
			height 0px
			overflow hidden
	ul.submenu.open
		li
			height 1em

#exhibitions-menu
	top ($padding*2)
	left $padding
	+below($md)
		top $padding

#projects-menu
	bottom ($padding*2.5)
	left $padding
	backface()
	+below($md)
		bottom $padding

#about-menu
	top ($padding*2)
	right $padding
	+below($md)
		top $padding

#container
	display inline-block
	width 100%
	margin $padding 0
	padding 0 $padding
	
/// PROJECTS

#projects-container
	hideselect()
	margin-bottom 20vh
	span(1)
	+below($md)
		margin 12rem 0
	.project
		cf()
		transition(all, 1000ms, cubic-bezier(.60,0,.40,1))
		backface()
		.image-overflow
			overflow hidden
	.project:nth-child(n+2)
		margin-top -15vw
		+below($md)
			margin-top 0
	.project:nth-child(odd)
		span(1/2)
		padding-right ($padding / 2)
		+below($md)
			stack()
			padding 0
		.project-title
			bottom "calc(-1.7rem - %s)" % $padding
			right ($padding / 2)
			font-size 1.7rem
		.secondary.image
			bottom 0
			right ($padding/2)
	.project:nth-child(even)
		span(1/2, offset: 1/2)
		padding-left ($padding / 2)
		+below($md)
			stack()
			padding 0
		.project-title
			top "calc(-1.7rem - %s)" % $padding
			left ($padding / 2)
			flex-flow row-reverse
		.secondary.image
			top 0
			left ($padding/2)
	.project
		position relative
		+below($md)
			margin-bottom 6rem
			padding 0
		.project-title
			width 50%
			position absolute
			flexbox()
			justify-content space-between
			color $darkgrey
			+below($md)
				width 100%
				position initial
				margin-top $padding
		.featured.image
			transition(all, 800ms)
			transition-delay(0s)
			position relative
			z-index 1
		.secondary.image
			position absolute
			width "calc(100% - %s)" % ($padding/2)
			z-index 0
			opacity 0
			transition()
			backface()
			transition-delay(400ms)
			+below($md)
				display none
			img.lazyimg.lazyloaded
				opacity 0
		.secondary.image.fit-height
			height 100%
			overflow hidden
			img.lazyimg
				width auto
				height 100%
		.featured.image.lazyloaded + .secondary.image
			opacity 1
			img.lazyimg.lazyloaded
				opacity 1
	.project.with-secondary:nth-child(odd):hover
		.featured.image
			+above($md + 1)
				transform(translate3d(-200%,0,0) scaleX(2.5))
				transition-delay(400ms)
	.project.with-secondary:nth-child(even):hover
		.featured.image
			+above($md + 1)
				transform(translate3d(200%,0,0) scaleX(2.5))
				transition-delay(400ms)
		
/// PAGE

.inner.page
	span(1)
	#sections
		transition(opacity, 300ms, ease)
		opacity 1

.menu-item.bottom
	bottom ($padding*2.5)
	right $padding
	+below($md)
		bottom $padding

/// SECTIONS

.page-content
	span(14/24, offset: 5/24)
	margin-top 10rem
	+below($md)
		stack()
		margin-top 12rem
	h1,h2
		margin-bottom 1em
	section
		span(1)
		margin-bottom 10vw
		+below($md)
			margin-bottom 12rem
		.col-2-4
			width 50%
		.col-3-4
			width 75%
		.col-4-4
			width 100%
		.col
			display inline-block
			padding 0 $padding
			+below($md)
				width 100%
				padding 0
		.content.image
			padding 0 $padding
			+below($md)
				padding 0
		.image-caption
			width 100%
			margin-top $padding
			flexbox()
			justify-content space-between
			font-size 1.2rem
			letter-spacing 100%
	section:first-child
		margin-bottom 7vw
		+below($md)
			margin-bottom 12rem
	section.s-image
		text-align center
	section.s-twoimages
		.content.image
			span(1/2)
			+below($md)
				stack()
		.content.image:first-child
			+below($md)
				margin-bottom 12rem
	section.s-text
		.content
			span(1)
	section.s-imagetext.left
		.content:first-child
			span(2/4)
			padding-right 7%
			+below($md)
				stack()
				padding 0
				margin-bottom 12rem
		.content:last-child
			span(2/4)
			+below($md)
				stack()
	section.s-imagetext.right
		.content:first-child
			span(2/4)
			+below($md)
				stack()
				margin-bottom 12rem
		.content:last-child
			span(2/4)
			padding-left 7%
			+below($md)
				stack()
				padding 0
	section#project-description
		.project-title
			col(3/10)
			+below($md)
				//stack()
		.project-text
			col(7/10, cycle:2)
			+below($md)
				//stack()

footer
	#page-title
		cursor default
	#page-title, #next-project
		transition(all, 500ms)
		height 1em
		overflow hidden
	#next-project
		height 0

footer.next-project
	#page-title
		height 0
	#next-project
		height 1em

body.leaving
	#projects-container
		.project:hover
			.secondary.image + .featured.image
				transform(translate3d(0,0,0))
		.project:nth-child(odd)
			transform(translate3d(-110%,0,0))
		.project:nth-child(even)
			transform(translate3d(110%,0,0))
	.inner.page
		#sections
			opacity 0
		footer
			#page-title, #next-project
				height 0


